<div class="dashboard">
    <div class="dashboard-navigation">
        <div class="dashboard-navigation-item">
            <a href="{{ path('backend_dashboard') }}">Periodes</a>
        </div>
        <div class="dashboard-navigation-item">
            <a href="{{ path('backend_worksheets') }}">Worksheets</a>
        </div>
        <div class="dashboard-navigation-item">
            <a href="{{ path('backend_users') }}">Gebruikers</a>
        </div>
    </div>