// Import Variables
@import './style/variables';
@import './style/reset';

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
body {
    font-family: 'Roboto', sans-serif;
}

// Colors

$color1: #2D3142;
$color2: #4F5D75;
$color3: #BFC0C0;
$color4: #FFFFFF;
$color5: #EF8354;

// Backend
@import './pages/backend-dashboard';
@import './page_parts/backend_navigation.scss';


body {
    background-color: white;
}
