<!DOCTYPE html>
<html>
{% include "includes/header.html.twig" %}
    <body>
        <nav>
            {% include "includes/navigation.html.twig" %}
        </nav>
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer></footer>
        {% include "includes/scripts.html.twig" %}
    </body>
</html>
