<!DOCTYPE html>
<html>
{% include "includes/header.html.twig" %}
    <body>
            {% block content %}{% endblock %}
        
        <footer></footer>
        {% include "includes/scripts.html.twig" %}
    </body>
</html>
